@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

[data-theme="dark"] {
  --font-color: #222;
  --bg-color: #fff;
  --primary-color: #fff;
  --secondary-color: #9b9b9b;
  --anchor-tag-color: #34d399;
  --blockquote-opacity: 1;
  --code-bg-color: rgba(27, 31, 35, 0.05);
  --burger-bg-color: rgba(255, 255, 255, 0.7);
}

:root {
  /* [data-theme="dark"] */
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --primary-color: #000;
  --secondary-color: #9b9b9b;
  --anchor-tag-color: #34d399;
  --blockquote-opacity: 0.25;
  --code-bg-color: #303050;
  --burger-bg-color: rgba(22, 22, 37, 0.7);
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: var(--anchor-tag-color);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
